<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <a href="/">Back to Home</a>
        <h1>My Blog Posts</h1>
        <a href="{{url_for('submit_bp.submit')}}">Submit a new post</a>
        <ul>
            {% for post in posts %}
                <li>{{post.title}}</li>
            {% endfor %}
        </ul>
    </body>
</html> -->

{% extends "base.html" %}
{% block title %}My_Blogs{% endblock %}

{% block content %}

        <h1>My Blog Posts</h1>
        <!-- <a href="{{url_for('submit_bp.submit')}}">Submit a new post</a> -->
        <ul>
            {% for post in posts %}
            <div class="blog-post">
                <h2><a href="{{ url_for('home_bp.view_blog', post_id=blog.post_id) }}">{{ blog.title }}</a></h2>
                <p>{{ blog.content[:100] }}...</p>
                <p>By {{ blog.username }} | {{ blog.created_at }}</p>
                <p>Likes: {{ blog.likes }} | Comments: {{ blog.comments|length }}</p>
            </div>
            {% endfor %}
        </ul>
{% endblock %}